#abc , .xyz, h4{
    background-color: aqua;
}
.rmandanna{
    background-color: blue;
}
.nayana{
    background-color: yellow;
}
.vijay{
    background-color: red;
}
.rajni{
    background-color: green;
}